# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Numeric method Newton.xcodeproj/project.pbxproj
Numeric method Newton.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Numeric method Newton.xcodeproj/project.xcworkspace/xcuserdata/maksimmozgovoj.xcuserdatad/UserInterfaceState.xcuserstate
Numeric method Newton.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Numeric method Newton.xcodeproj/xcuserdata/maksimmozgovoj.xcuserdatad/xcschemes/xcschememanagement.plist
